<div class="row gx-0">
    <div class="col-lg-6">
        <a class="karamoja-resp-item" href="#!">
            <div class="caption">
                <div class="caption-content">
                    <div class="h2">Stationary</div>
                    <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
                </div>
            </div>
            <img class="img-fluid" src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg" alt="...">
        </a>
    </div>

</div>