<div class="row gx-0">
    <div class="col-lg-6">
        <a class="karamoja-resp-item" href="#!">
            <div class="caption">
                <div class="caption-content">
                    <div class="h2">{{post.specific.caption}}</div>
                    <p class="mb-0">{{post.specific.intro}}</p>
                </div>
            </div>
            {% comment %} <img class="img-fluid" src="{{post.specific.image}}" alt="..."> {% endcomment %}
            {% image post.specific.image width-400 class="img-fluid" id="yeshua-life" %}
            {% comment %} {% srcset_image page.photo width-{400,800} sizes="(max-width: 600px) 400px, 80vw" %} {% endcomment %}
        </a>
    </div>

</div>