{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags compress %}

{% block body_class %}template-blogindexpage{% endblock  %}
{% compress css %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
{% endblock %}
{% endcompress %}

{% block  content %}

{% include "nav_bar.html" %}
<section class="yesh-header">
{% include "karamoja_response/partial_section/header.html" %}
</section>

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div>
{% for post in  page.get_children %}
    
{% if forloop.first %}
{% comment %} {% include "blog/main_content/carosel.html"  with post=post %} {% endcomment %}
{% endif %}
{% endfor %}

<div class="d-flex flex-column justify-content-center align-items-center wrap-blog">
    <hr class="featurette-divider">
    {% include "karamoja_response/partial_section/list_items.html" %}
        
</div>

<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Your financial support empowers us to implement vital programs and initiatives.</h2>
        <h6 style="font-size:8px; font-weight:200;">Have questions, ideas, or just want to say hello? We'd love to hear from you!</h6>
        <a class="btn btn-xl btn-light me-4 btn-danger" href="/donation">Donate</a>
        <a class="btn btn-xl btn-dark" href="#!">Support</a>
    </div>
</section>



{% endblock  %}
{% comment %} {% compress js %}<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endcompress %} {% endcomment %}
{% block extra_js %}
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>

{% endblock  %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}