{% load static %}

<nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand d-md-none" href="/">
      <img src="{% static '/images/yeshua_logo_nav.png' %}" alt="Yeshua Life" width="44" height="44">
      &#160;&#160;Yeshua Life
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav flex-grow-1 justify-content-between">
        <li class="nav-item d-none d-md-block">
          <a class="nav-link" href="/">
            <img src="{% static '/images/yeshua_logo_nav.png' %}" alt="Yeshualife Uganda" width="80" height="80">
          </a>
        </li>
        <li class="nav-item nav-line-h"><a class="nav-link" rel="canonical" href="/">Home</a></li>
        <li class="nav-item nav-line-h"><a class="nav-link" rel="canonical" href="#">About Us</a></li>
        <li class="nav-item nav-line-h"><a class="nav-link" rel="canonical" href="/contact">Support</a></li>
        <li class="nav-item dropdown nav-line-h">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="/karamoja">Karamoja Cry</a></li>
            <li><a class="dropdown-item" href="/response">Our Response</a></li>
            <li><a class="dropdown-item" href="/solution">Lasting Solutions</a></li>
            <li><a class="dropdown-item" href="/global-solutions/">Global Solutions</a></li>
            <li><a class="dropdown-item" href="/production">Machinary &amp; Production</a></li>
            <li><a class="dropdown-item" href="/awards">Awards</a></li>
            <li><a class="dropdown-item" href="/landclearing">Land Clearing</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/donation">Products</a></li>
          </ul>
        </li>
        {% if request.path != '/payments/' and request.path != '/payments' %}
        <li class="nav-item nav-line-h"><a class="btn btn-danger text-uppercase donation" rel="canonical" href="/payments">Pay Online</a></li>
        {% endif %}
        <li class="nav-item nav-line-h"><a class="nav-link" rel="canonical" href="#">
          <svg class="bi" width="24" height="24"><use xlink:href="#cart"></use></svg>
        </a></li>
      </ul>
    </div>
  </div>
</nav>
