
{% block extra_css %}
 <style>
  <style>
    .responsive-iframe {
        position: relative;
        width: 100%;
        height: 100vh; /* Adjust height as necessary */
    }
    .responsive-iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
 </style>
{% endblock %}

<section class="text-center py-8 py-md-11 overflow-hidden" id="defaultVideo">
    <div class="bg-holder" style="background-image:url(../assets/img/headers/header-27.jpg);" data-parallax="" data-rellax-percentage="0.5" data-rellax-speed="-3">
    
 <iframe width="100%" height="315"
    src="https://www.youtube.com/embed/a_7iD2GgJQM?autoplay=1&loop=1&playlist=a_7iD2GgJQM&mute=1"
    frameborder="0"
    audi
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen>
</iframe>

    </div><!--/.bg-holder-->
    <div class="container-fluid">
      <a class="text-white" href="#!" data-bigpicture="{&quot;ytSrc&quot;:&quot;kAphgHhlteM&quot;}"><svg class="mx-auto d-block" width="100" height="100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 274.19 274.19" data-zanim-svg="{&quot;duration&quot;:2,&quot;ease&quot;:&quot;CubicBezier&quot;}">
          <defs>
            <style>
              .play-path {
                fill: none;
                stroke: #ffffff;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 12px;
              }
            </style>
          </defs>
          <g>
            <path class="play-path" d="M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113" style="stroke-dashoffset: 0; stroke-dasharray: none; visibility: visible;"></path>
          </g>
        </svg><span class="h4 mt-3 text-white" data-zanim-xs="{&quot;from&quot;:{&quot;letter-spacing&quot;:&quot;0.2em&quot;,&quot;opacity&quot;:0},&quot;to&quot;:{&quot;letter-spacing&quot;:0,&quot;opacity&quot;:1},&quot;delay&quot;:0.8}" style="opacity: 1; letter-spacing: 0em;">watch the reel</span></a></div><!-- end of .container-->
  </section>