{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}

<section class="yesh-header">
{% include "karamoja_response/partial_section/header.html" %}
</section>

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div>

{% endblock %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}



