{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/solution.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}

<section class="yesh-header">
{% comment %} {% include "karamoja_response/partial_section/header.html" %} {% endcomment %}
{% include "sections/main-top-section.html" %}
</section>

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
    
</div>
<div>
    {% include "sections/main-middle-top-section.html" %}
</div>
<div>
    {% for post in page.get_children %}
     {% if forloop.first %}
     {% include "sections/main-featured-section.html"   with post=post %}
     {% endif %} 
     {% endfor %}

     {% comment %} {% else %}
            {% if forloop.counter == 2 %}
              <!-- Section and Container for Subsequent Items starting from the second item -->
              <section class="text-center pb-0" id="bicycleFeatures" style="margin-bottom: 0.8rem">
                <div class="container-fluid">
                <div class="row m-0"> <!-- Start the row for the second item -->
            {% endif %}
          
            {% include "sections/secondary-featured-section.html" with post=post only %}
            </section> {% endcomment %}

            {% comment %} {% if forloop.last or forloop.counter0|divisibleby:2 %}
                </div> <!-- Close the row after every two items or the last item -->

            {% endif %} {% endcomment %}

        {% comment %} {% if forloop.last %}
                </div> <!-- Close the last row -->
                </div> <!-- Close the container -->
                </section> <!-- Close the section --> {% endcomment %}
        {% comment %} {% elif forloop.counter0|divisibleby:2 %}
                </div> <!-- Close the row for every two items and start a new one -->
                 <div class="row m-0">
        {% endif %} {% endcomment %}

     {% comment %} {% endif %}

     {% if forloop.counter == 2 %}

     {% include "sections/secondary-featured-section.html"   with post=post %}
{% endcomment %}

 {% comment %} <section class="text-center pb-0" id="bicycleFeatures" style="margin-bottom: 0.8rem">
    <div class="container-fluid">
        <div class="row m-0">
        {% for post in page.get_children %}
            {% if not forloop.first %}
            {% include "sections/secondary-featured-section.html" with post=post only %}
            {% if forloop.counter|divisibleby:2 %}  <!-- Ensure new row every two items -->
                </div><div class="row m-0">
            {% endif %}
            
            {% endif %}

        {% endfor %}

        </div>
    </div>
</section>  {% endcomment %}

<section class="text-center pb-0" id="bicycleFeatures" style="margin-bottom: 0.8rem">
    <div class="container-fluid">
        <div class="row m-0">
        {% for post in page.get_children %}
        {% if not forloop.first %}  <!-- Exclude the first item -->
            <div class="col-md-6">
                {% include "sections/secondary-featured-section.html" with post=post %}
            </div>
        {% endif %}
    {% endfor %}
        </div>
    </div>
</section>



</div>

<div>
    {% comment %} {% include "sections/featured_bottom.html" %}   {% endcomment %}
</div>

{% endblock %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}



