{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
<link href="{% static 'css/loaders.min.css' %}" rel="stylesheet" type="text/css">

{% endblock  %}

<section class="bg-11 overflow-hidden" id="karamojaProducts">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 mb-4 mb-md-6">
          <h2 class="text-center"><span class="text-decoration-underline">Planting Prosperity</span></h2>
        </div>
        <div class="col-12">
          <div class="swiper theme-slider h-100 swiper-initialized swiper-horizontal swiper-backface-hidden" data-swiper="{&quot;autoplay&quot;:{&quot;delay&quot;:5000,&quot;disableOnInteraction&quot;:false},&quot;loop&quot;:true,&quot;spaceBetween&quot;:30,&quot;breakpoints&quot;:{&quot;576&quot;:{&quot;slidesPerView&quot;:2},&quot;768&quot;:{&quot;slidesPerView&quot;:3},&quot;992&quot;:{&quot;slidesPerView&quot;:4}}}" data-zanim-lg="{&quot;animation&quot;:&quot;zoom-out&quot;,&quot;delay&quot;:0}" style="filter: blur(0px); opacity: 1; transform: translate(0px, 0px);">
           
            <div class="swiper-wrapper" id="swiper-wrapper-caf9d7ebcfc39201" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1138px, 0px, 0px); transition-delay: 0ms;">
              
                {% for m in post.specific.body_content %}

                {% for v in m.value.images %}
                
                <div class="swiper-slide border border-light-subtle sd" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="{{ forloop.parentloop.counter }} / {{ m.value.images|length }}" data-swiper-slide-index="{{ forloop.counter0 }}">
                    <a href="#!">
                        {% image v.image width-600  height-600 class="rounded d-block w-100 height-100" %}
                        {% comment %} <img class="rounded w-100" src="{{v.image}}" alt=""> {% endcomment %}
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">{{v.title|truncatewords:5}}</h4>
                    <p class="font-secondary d-inline-block text-body">{{v.caption|truncatewords:5}}</p>
                  </div>
                </a></div>
                
                {% endfor %}
                 {% endfor %}
            
            </div>
         

            <div class="swiper-nav">
              <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-caf9d7ebcfc39201"></div>
              <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-caf9d7ebcfc39201"></div>
            </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 5000,
                disableOnInteraction: false
            },
            loop: true,
            spaceBetween: 30,
            breakpoints: {
                576: { slidesPerView: 2 },
                768: { slidesPerView: 3 },
                992: { slidesPerView: 4 }
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
    </script>
{% endblock  %}
























{% comment %} {% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
<link href="{% static 'css/loaders.min.css' %}" rel="stylesheet" type="text/css">

{% endblock  %}

<section class="bg-11 overflow-hidden" id="bicycleProducts">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 mb-4 mb-md-6">
          <h2 class="text-center"><span class="text-decoration-underline">featured products</span></h2>
        </div>
        <div class="col-12">
          <div class="swiper theme-slider h-100 swiper-initialized swiper-horizontal swiper-backface-hidden" data-swiper="{&quot;autoplay&quot;:{&quot;delay&quot;:5000,&quot;disableOnInteraction&quot;:false},&quot;loop&quot;:true,&quot;spaceBetween&quot;:30,&quot;breakpoints&quot;:{&quot;576&quot;:{&quot;slidesPerView&quot;:2},&quot;768&quot;:{&quot;slidesPerView&quot;:3},&quot;992&quot;:{&quot;slidesPerView&quot;:4}}}" data-zanim-lg="{&quot;animation&quot;:&quot;zoom-out&quot;,&quot;delay&quot;:0}" style="filter: blur(0px); opacity: 1; transform: translate(0px, 0px);">
           
            <div class="swiper-wrapper" id="swiper-wrapper-caf9d7ebcfc39201" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-1138px, 0px, 0px); transition-delay: 0ms;">
              
             
            <div class="swiper-slide border border-light-subtle" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="1 / 8" data-swiper-slide-index="0">
                <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-07.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">Deflect™ H2O Road Jacket</h4>
                    <p class="font-secondary d-inline-block text-body">$350.00</p>
                  </div>
                </a></div>
                
                <div class="swiper-slide border border-light-subtle" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="2 / 8" data-swiper-slide-index="1">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-08.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">SPECIALIZED Man's Element 2.0 Hybrid Jacket</h4>
                    <p class="font-secondary d-inline-block text-body">$200.00</p>
                  </div>
                </a></div>
                
                
                <div class="swiper-slide border border-light-subtle" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="3 / 8" data-swiper-slide-index="2">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-09.jpg" alt="">
                   <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">Best Sellers Women's Therminal™ Cycling Tights</h4>
                    <p class="font-secondary d-inline-block text-body">$160.00</p>
                  </div>
                </a></div>
                
                
                <div class="swiper-slide border border-light-subtle swiper-slide-prev" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="4 / 8" data-swiper-slide-index="3">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-10.jpg" alt="">
                   <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">Element Cycling Bib Tights</h4>
                    <p class="font-secondary d-inline-block text-body">$470.00<span class="badge bg-danger ms-1">37% OFF</span></p>
                  </div>
                </a></div>
                
                <div class="swiper-slide border border-light-subtle swiper-slide-active" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="5 / 8" data-swiper-slide-index="4">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-07.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">Women's Therminal™ Cycling Tights</h4>
                    <p class="font-secondary d-inline-block text-body">$130.00</p>
                  </div>
                </a></div>
                
                <div class="swiper-slide border border-light-subtle swiper-slide-next" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="6 / 8" data-swiper-slide-index="5">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-08.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">S-Works 6 XC Mountain Bike Shoes</h4>
                    <p class="font-secondary d-inline-block text-body">$400.00<span class="badge bg-danger ms-1">SALE</span></p>
                  </div>
                </a></div>
                
                <div class="swiper-slide border border-light-subtle" style="width: 254.5px; margin-right: 30px;" role="group" aria-label="7 / 8" data-swiper-slide-index="6">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-09.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">Ambush</h4>
                    <p class="font-secondary d-inline-block text-body">$180.00</p>
                  </div>
                </a></div>
                
                <div class="swiper-slide border border-light-subtle" role="group" aria-label="8 / 8" style="width: 254.5px; margin-right: 30px;" data-swiper-slide-index="7">
                    <a href="#!"><img class="rounded w-100" src="../assets/img/bicycle-10.jpg" alt="">
                  <div class="px-3 px-xl-5">
                    <h4 class="mt-3 fs-9 fw-bold">S-Works Women's Prevail II</h4>
                    <p class="font-secondary d-inline-block text-body">$225.00</p>
                  </div>
                </a></div>
            
            </div>
            <div class="swiper-nav">
              <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-caf9d7ebcfc39201"></div>
              <div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-caf9d7ebcfc39201"></div>
            </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>

{% block extra_js %}
<script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 5000,
                disableOnInteraction: false
            },
            loop: true,
            spaceBetween: 30,
            breakpoints: {
                576: { slidesPerView: 2 },
                768: { slidesPerView: 3 },
                992: { slidesPerView: 4 }
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
    </script>
{% endblock  %} {% endcomment %}