<section class="text-center" id="bicycleAbout" style="padding-top:7.5rem;
padding-bottom: 7.5rem ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <p class="lead">
            <span class="text-dark fw-semibold">Karamoja's Challenges</span>
            resonates deeply, marked by climate adversity, relentless droughts, and failed harvests, leading to widespread famine in this vital region. In the face of such hardship, 
               <span class="text-dark fw-semibold">where families are driven to subsist on leaves,</span>
               Yeshualife emerges as a pillar of hope,steadfast in its mission to alleviate hunger in Karamoja.
                </p>
          <h6 class="mt-5"> Robert Kayanja, Founder</h6>
          <img src="../assets/img/signature.png" alt="" width="220"><br><a class="btn btn-outline-danger mt-6" href="#!">About us</a>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>