<section class="text-center" id="bicycleAbout" style="padding-top:7.5rem;
padding-bottom: 7.5rem ">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <p class="lead"><span class="text-dark fw-semibold">Quality and precision</span> are what decorates each Sparrow bicycle. Confirmed by more than<span class="text-dark fw-semibold"> 3 million people</span> who have been cruising the world for the past quarter of a century. And we keep on riding.</p>
          <h6 class="mt-5"> Robert Kayanja, Founder</h6>
          <img src="../assets/img/signature.png" alt="" width="220"><br><a class="btn btn-outline-danger mt-6" href="#!">About us</a>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>