<section class="py-0" id="karamojaHeader" data-zanim-lg="{&quot;delay&quot;:0.6,&quot;animation&quot;:&quot;zoom-out&quot;}" style="filter: blur(0px); opacity: 1; transform: translate(0px, 0px);">
    <div class="bg-holder overlay overlay-2" style="background-image:url(../assets/img/headers/header-bicycle.jpg);">
        {% comment %} width: 1403px; {% endcomment %}
      <iframe class="yt-video loaded" data-youtube-embed="{&quot;videoId&quot;:&quot;x4LRLFGrliw&quot;,&quot;startSeconds&quot;:24,&quot;endSeconds&quot;:245}" style="width: 100%; height: 850.1875px; min-height: 570px; min-width: 1013.333333px;" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="The World Of Mountain Bike [4K]" width="640" height="360" src="./Sparrow _ Look like an expert right from the start_files/x4LRLFGrliw.html" id="widget2"></iframe>
    </div><!--/.bg-holder-->
    <div class="container">
      <div class="row min-vh-100 align-items-center py-8">
        <div class="col-lg-7" data-zanim-timeline="{&quot;delay&quot;:0.6}">
          <h1 class="fs-6 fs-sm-5 fs-xl-4 display-4 text-white fst-italic overflow-hidden text-decoration-underline" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Lasting Solutions</h1>
          <div class="overflow-hidden">
            <p class="text-white mb-4 font-secondary fst-italic fs-7" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">Empowering Communities for Sustainable Food Security</p>
          </div>
          <div data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;"><a class="btn btn-outline-light mt-4" href="https://prium.github.io/twbs-sparrow/v2.3.0/homes/bicycle.html#!">Learn more</a></div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>