<section class="text-center" id="YeshualifeAbout">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <p class="lead">
            <span class="text-dark fw-semibold">Karamoja's Challenges</span>
            resonates deeply, marked by climate adversity, relentless droughts, and failed harvests, leading to widespread famine in this vital region. In the face of such hardship,
               <span class="text-dark fw-semibold">where families are driven to subsist on leaves,</span>
               Yeshualife emerges as a pillar of hope, steadfast in its mission to alleviate hunger in Karamoja.
                </p>
          <h6 class="mt-5 mb-0">Robert Kayanja, Founder</h6>
          <a class="btn btn-outline-danger" href="#">About us</a>
        </div>
      </div>
    </div>
  </section>