{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

            {% comment %} <div class="col-md-6"> {% endcomment %}
                <div class="position-relative overflow-hidden rounded" style="margin-bottom: 0.3rem">
                    <div class="bg-holder" style="background-image:url({% image post.specific.image fill-1920x1080 as img %}{{ img.url }});"></div><!--/.bg-holder-->
                    <div class="position-relative py-8 py-md-11">
                        <div data-zanim-timeline="{}">
                            <div class="overflow-hidden">
                                <h6 class="text-white ls text-uppercase" data-zanim-xs="{&quot;delay&quot;:0}" style="transform: translate(0px, 0px); opacity: 1;">{{ post.title }}</h6>
                            </div>
                            <div class="overflow-hidden">
                                <h2 class="fs-7 fs-sm-6 text-white" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">The new karamoja</h2>
                            </div>
                            <div data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;"><a class="btn btn-dark mt-4" href="{% pageurl post %}">meet the new karamoja</a></div>
                        </div>
                    </div>
                </div>
    
    {% comment %} </div><!-- end of .container--> {% endcomment %}
  {% comment %} </section> {% endcomment %}