{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}


{% comment %} {% if forloop.first %} {% endcomment %}
{% include 'sections/header.html' %}

{% comment %} {% endif %} {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}
{% for post in  page.get_children %}
<div class="container marketing">
    {% if forloop.first %}
    <hr class="featurette-divider">
    {% include "sections/featured.html" with post=post %}
   {% endif %}
</div>
{% endfor %}

<hr class="featurette-divider">
<section class="text-align-center">
    {% include "sections/featured_causes.html" %}
</section>
{% endblock  %}



{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}