{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}
{% comment %} {% for post in  page.get_children %} {% endcomment %}
{% comment %} {% if forloop.first %} {% endcomment %}
{% include 'sections/header.html'  with post = post %}
{% comment %} {% endif %} {% endcomment %}

{% comment %} {% endfor %} {% endcomment %}

<h1>Donation</h1>


{% endblock  %}



{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}