{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/award_ss.css" %}">
<link href="{% static 'css/csv/style.css' %}" rel="stylesheet" type="text/css">
{% endblock  %}


{% block  content %}
<main class="main min-vh-100" id="top">

{% include "nav_bar.html" %}

{% comment %} <section class="yesh-header"> {% endcomment %}
{% include "sections/header.html" %}
{% comment %} </section> {% endcomment %}

{% comment %} <div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div> {% endcomment %}
 {% for post  in page.get_children %}

{% include "sections/middle-section.html" with post=post %}
{% endfor %}

{% include "sections/about.html" %}

{% include "sections/bottom_lists_about.html" %}


{% comment %} <div class="d-flex flex-column justify-content-center align-items-center wrap-blog"></div> {% endcomment %}



</main>
{% endblock %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}