{% load static %}
{% load wagtailcore_tags  wagtailimages_tags%}

<section id="YeshuaAbout">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4 px-0 align-self-stretch py-11 position-relative">
          <div class="bg-holder rounded-lg-right" style="background-image: url(&quot;{% image post.specific.image fill-1920x1080 as img %}{{img.url}}&quot;); filter: blur(0px); opacity: 1; transform: translate(0px, 0px);" data-zanim-md="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;zoom-out&quot;}"></div><!--/.bg-holder-->
        </div>
        <div class="col-10 col-lg-6 col-xl-5 mb-6 mb-lg-0 px-0 mx-auto mt-6 mt-lg-0">
          <div class="position-relative border">
            <div class="py-3 position-absolute start-0 top-0 mt-6 d-none d-sm-block"><span class="fa-stack fa-stack-size fs-5 fs-sm-3 fa-2x">
              <svg class="svg-inline--fa fa-square fa-w-14 fa-stack-2x text-white" data-fa-transform="left-8" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="" style="transform-origin: -0.0625em 0.5em;"><g transform="translate(224 256)"><g transform="translate(-256, 0)  scale(1, 1)  rotate(0 0 0)">
                <path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z" transform="translate(-224 -256)"></path></g></g></svg><!-- <i class="fas fa-square fa-stack-2x text-white" data-fa-transform="left-8"></i> Font Awesome fontawesome.com -->
     
                  <img class="svg-inline--fa fa-birthday-cake fa-w-14 fa-stack-1x text-body-tertiary text-opacity-10" src="{% static '/images/apple-touch-icon__final.jpg' %}" alt="" style="transform-origin: -0.5625em 0.5em; position: relative;">
                  <!-- <i class="fas fa-birthday-cake fa-stack-1x text-body-tertiary text-opacity-10" data-fa-transform="left-16"></i> Font Awesome fontawesome.com --></span></div>
            <div class="py-6 px-5 ps-sm-8 pe-sm-7">
              <p class="text-body-secondary fst-italic lead">
                {{post.specific.body|richtext|truncatewords:50}}</p>
              <h4 class="mb-3 mt-5">About Us:</h4>
              <ul class="font-secondary style-check ps-0">
                <li>Agro-Processing</li>
                <li>Crop Production</li>
                <li>Animal Husbandry</li>
                <li>Food Value Addition</li>
                <li>Skilling Women and Youths in Agriculture</li>
              </ul><a class="btn btn-outline-dark mt-5" href="#!">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>