{% load wagtailcore_tags  wagtailimages_tags%}

{% comment %} <section class="text-uppercase" id="EventFeatures">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center" data-parallax="data-parallax" data-rellax-percentage="0.5" data-rellax-speed="-1.5" style="transform: translate3d(0px, 18px, 0px);">
          <img class="img-fluid mb-4 rounded w-100" src="{% image post.specific.image fill-1920x1080 as img%}{{img.url}}" alt="">
          {% if forloop.first %}
          <h2 class="fw-light mb-0 fs-9 fs-md-7" data-zanim-timeline="{}">
            <span class="overflow-hidden d-block"><span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">the aesthetic of</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">sparrow events</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;">is one of</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">"glamour elegance"</span></span></h2>
          {% endif %}
        </div>
        <div class="col-6">
          {% if forloop.counter == 2 %}
          <h2 class="fw-light fs-9 fs-md-7 overflow-hidden" data-zanim-timeline="{}"><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Chic</span><span class="d-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Timeless</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Exclusive</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Unforgettable</span></h2>
          <img class="img-fluid mt-4 rounded w-100" src="{% image post.specific.image fill-1920x1080 as img%}{{img.url}}" alt="">
           {% endif %}
        </div>
      </div>
    </div><!-- end of .container-->
  </section> {% endcomment %}

 
      <div class="row">
        {% for post in page.get_children %}
          {% if forloop.counter == 1 %}
        
        <div class="col-6 text-center" data-parallax="simple" data-rellax-percentage="0.5" data-rellax-speed="-1.5" style="transform: translate3d(0px, 18px, 0px);">
          {% image post.specific.image fill-1920x1080 as img %}
          <img class="img-fluid mb-4 rounded w-100" src="{{ img.url }}" alt="">
         
          <h2 class="fw-light mb-0 fs-9 fs-md-7" data-zanim-timeline="{}">
            <!-- Animation and content for the first item -->
            <span class="overflow-hidden d-block"><span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">the aesthetic of</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">sparrow events</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;">is one of</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">"glamour elegance"</span></span>
          
          </h2>
        </div>

       {% elif forloop.counter == 2 %}
       {% image post.specific.image fill-1920x1080 as img %}
        <div class="col-6">
            <!-- Content for the second item -->
            <h2 class="fw-light fs-9 fs-md-7 overflow-hidden" data-zanim-timeline="{}">
              <span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Chic</span><span class="d-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Timeless</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Exclusive</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">Unforgettable</span>
         
            </h2>
          <img class="img-fluid mt-4 rounded w-100" src="{{ img.url }}" alt="">
      
        </div>
            {% endif %}
         {% endfor %}
      </div>
      
   

 