{% load wagtailcore_tags  wagtailimages_tags%}
<section class="text-uppercase" id="EventFeatures">
    <div class="container">
      <div class="row">
        <div class="col-6 text-center" data-parallax="data-parallax" data-rellax-percentage="0.5" data-rellax-speed="-1.5" style="transform: translate3d(0px, -50px, 0px);">
          {% if forloop.first %}
          <img style="width: 538px; height: 807px; object-fit: contain;"class="img-fluid mb-4 rounded w-100" src="{% image post.specific.image fill-1920x1080 as img%}{{img.url}}" alt="">
          <h2 class="fw-light mb-0 fs-9 fs-md-7" data-zanim-timeline="{}"><span class="overflow-hidden d-block">
            <span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:":15"}}</span></span><span class="overflow-hidden d-block">
            
              <span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:"15:28"}}</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:"28:37"}}</span></span><span class="overflow-hidden d-block"><span class="d-inline-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">"{{post.title|slice:"37:53"}}"</span></span></h2>
              {% endif %}
            </div>
       







       
        <div class="col-6"> 
          {% if forloop.counter == 2 %}
          <h2 class="fw-light fs-9 fs-md-7 overflow-hidden" data-zanim-timeline="{}">
            <span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.1,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:":4"}}</span><span class="d-block py-2 fw-bolder" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:"4:14"}}</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.3,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:"14:26"}}</span><span class="d-block py-2" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;slide-right&quot;}" style="transform: translate(0px, 0px); opacity: 1;">{{post.title|slice:"26:38"}}</span></h2>
            <img 	width="538" height="807" class="img-fluid mt-4 rounded w-100" src="https://res.cloudinary.com/dcckwytl0/images/c_scale,w_1048,h_668,dpr_2/f_auto,q_auto/v1709199939/Kevin-Oryema-directing-the-tractor-driver-during-opening-of-the-garden-in-Nwoya-district/Kevin-Oryema-directing-the-tractor-driver-during-opening-of-the-garden-in-Nwoya-district.jpg?_i=AA" alt="">
            {% endif %}
          </div>
       
      </div>
    </div><!-- end of .container-->
  </section>