<div class="container-medium">
    <div class="blog-category-wrapper w-dyn-list">
        <div role="list" class="blog-category-list w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <a href="#" class="category-link w-inline-block"><p>#Food distribution</p></a></div><div role="listitem" class="w-dyn-item">
                <a href="#" class="category-link w-inline-block"><p>Cloth Distribution</p></a></div>
                <div role="listitem" class="w-dyn-item"><a href="#" aria-current="page" class="category-link w-inline-block w--current">
                    <p>Planting</p></a></div>
                    
                    <div role="listitem" class="w-dyn-item">
                        <a href="#" class="category-link w-inline-block"><p>Harvesting</p></a></div>
                        <div role="listitem" class="w-dyn-item">
                            <a href="#" class="category-link w-inline-block"><p>Growing of Food</p></a></div>
                            <div role="listitem" class="w-dyn-item"><a href="#" class="category-link w-inline-block"><p>Awards Winning</p></a></div>
                            <div role="listitem" class="w-dyn-item"><a href="#" class="category-link w-inline-block"><p>Buying Equipment</p></a></div>
                            {% comment %} /blog-category/product-updates {% endcomment %}
                            <div role="listitem" class="w-dyn-item"><a href="#" class="category-link w-inline-block"><p>Land Clearing</p></a></div>
                            <div role="listitem" class="w-dyn-item"><a href="#" class="category-link w-inline-block"><p>Food Storage</p></a></div>
                            <div role="listitem" class="w-dyn-item"><a href="#" class="category-link w-inline-block"><p>Food Processing</p></a></div></div></div></div>