
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/customcss.css" %}">
 {% endblock  %}


<hr class="featurette-divider">

<h1>Karamoja Cry</h1>

<div class="album py-5 bg-body-tertiary">
    <div class="container">
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">  


   {% for post in page.get_children %}
    {% if not forloop.first %}
        {# Your code for pages excluding the first one #}
        <div class="col">
            <div class="card shadow-sm img-list-box">
              <a href="{% pageurl post %}">{% srcset_image post.specific.image  width-{500,200} sizes="(max-width: 767px) 90vw, (max-width: 991px) 78vw, 59vw" %}</a>
              <div class="card-body">
                <p class="card-text">{{post.title|truncatewords:11}}</p>
                <footer class="blockquote-footer">{{post.specific.intro|truncatewords:15}}</footer>
                <footer class="blockquote-footer"><button type="button" class="btn btn-info text-warning">Read More</button></footer>
                <p class="card-subtitle">{{post.specific.date}}</p>
              </div>
            </div>
          </div>

    {% endif %}
    {% endfor %}
       
         
          
          </div>
    </div>
  </div>