{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/carousel.css'%}" rel="stylesheet">
{% endblock  %}
<div class="row featurette">
    <div class="col-md-7">
        {% comment %} <span class="text-muted">It'll blow your mind.</span> {% endcomment %}
      <h2 class="featurette-heading"><a  class="blog-title-link" href="{% pageurl post %}">{{ post.title}}</a></h2>
      <p class="lead">{{post.body|truncatewords:50}}</p>
    </div>
    <div class="col-md-5">
        {% if post.specific.image %}
  {% comment %} {% srcset_image post.specific.image %} {% endcomment %}
  {% comment %} <a href="{% pageurl post %}">{% srcset_image post.specific.image class="image-blog-main" width-{500,500} sizes="(max-width: 500px) 90vw, (max-width: 991px) 78vw, 59vw" %}</a {% endcomment %}
    <a href="{% pageurl post %}">{% srcset_image post.specific.image class="image-feature-main" width-{600,700}  sizes="(max-width: 500px) 90vw, (max-width: 991px) 78vw, 59vw" %} </a>
{% else %}
  <img src="{% static 'path/to/default/image.jpg' %}" alt="Default Image">
  <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18bfa9d3868%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18bfa9d3868%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.12109375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
    {% endif %}

    </div>
  </div>