{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}

<div class="container bg-light d-md-flex align-items-center justify-content-center p-3">
  

    <div id="hide-visible-container">
        <div class="card box2 shadow-sm m-3 ">
            <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> <span
                    class="h5 fw-bold m-0">Make a Donation</span>
                <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div>
            </div>
        
            <form action="" id="form-data" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Message</span>
                            <div class="inputWithIcon"> 
                                <textarea rows="3" rows="3" maxlength="60" name="message" class="form-control fw-light" type="text"
                                    placeholder="provide a short message."></textarea> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Donation<span
                                    class="ps-1">Amount</span></span>
                            <div class="inputWithIcon"> 
                                <input type="text" name="amount" class="form-control" placeholder="500"> 
                                <span class="fas fa-money-bill"></span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> <span>Currency</span>
                            <div class="inputWithIcon"> 
                                <select name="currency" class="form-select form-select-sm" id="currency">
                                    <option selected>Choose</option>
                                    <option value="UGX">Uganda Shillings</option>
                                    <option value="USD">US Dollars</option>
                                </select>
                                <span
                                    class="fas fa-lock">
                                </span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Name</span>
                            <div class="inputWithIcon"> 
                                <input class="form-control text-uppercase" name="fullname" type="text"
                                    placeholder="Isaac Axen"> <span class="far fa-user"></span> </div>
                        </div>
                    </div>
                    <div class="col-12 px-md-5 px-4 mt-3">
                        {% comment %} <div class="btn btn-primary w-100">Pay UG5X 99.00</div> {% endcomment %}
                        <button id="my-button" class="btn btn-primary w-100" type="submit">Pay UG5X 99.00</button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>

    <div id="show-hidden-container">
 {% include "sections/showpayments.html" %}
    </div>
</div>


{% block extra_js %}
{# Override this in templates to add extra javascript #}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var container1 = document.getElementById('hide-visible-container');
        var container2 = document.getElementById('show-hidden-container');
        var button = document.getElementById('form-data');


        button.addEventListener('submit', function(event) {
        event.preventDefault();

                    // Get values from form inputs
        var message = document.getElementById('message').value;
        var donationAmount = document.getElementById('amount').value;
        var currency = document.getElementById('currency').value;
        var name = document.getElementById('fullname').value;


                // Alert the user to confirm the action
                if (confirm("Do you want to Proceed?")) {
                    // Hide and show containers
                    container1.style.display = "none";
                    container2.style.display = "block";
        
                    // Construct an object with collected data
                    var formData = {
                        message: message,
                        donationAmount: donationAmount,
                        currency: currency,
                        name: name
                    };
        
                    // Store the form data object in localStorage
                    localStorage.setItem('formData', JSON.stringify(formData));
        
                    console.log("Form Data:", formData);
                }

        

           //alert("Do you want to Proceed");
          
           //container1.style.display = "none"
           //container2.style.display = "block"

        // Construct an object with collected data
        //var formData = {
         //   message: message,
         //   donationAmount: donationAmount,
         //   currency: currency,
         //   name: name
        //};

        console.log("MDC", formData);

         // Store the form data object in localStorage
         //localStorage.setItem('formData', JSON.stringify(formData));

        

        

        });
       

    })

</script>
{% endblock %}
