{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}

<div class="container bg-light d-md-flex align-items-center justify-content-center p-3">
  

    <div id="hide-visible-container">
        <div class="card box2 shadow-sm m-3 ">
            <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> <span
                    class="h5 fw-bold m-0">Make a Donation</span>
                <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div>
            </div>
        
            <form id="form-data">
           
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Message</span>
                            <div class="inputWithIcon"> 
                                <textarea id="message_id" rows="3" rows="3" maxlength="60" name="message" class="form-control fw-light" type="text"
                                    placeholder="provide a short message."></textarea> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Donation<span
                                    class="ps-1">Amount</span></span>
                            <div class="inputWithIcon"> 
                                <input id="amount_id" type="text" name="amount" class="form-control" placeholder="Enter amount" required> 
                                <span class="fas fa-money-bill"></span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> <span>Currency</span>
                            <div class="inputWithIcon"> 
                                <select name="currency" class="form-select form-select-sm" id="currency" required>
                                    <option selected>Choose</option>
                                    <option value="UGX">Uganda Shillings</option>
                                   <!-- <option value="USD">US Dollars</option>-->
                                </select>
                                <span
                                    class="fas fa-lock">
                                </span></div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Name</span>
                            <div class="inputWithIcon"> 
                                <input id="name_id" class="form-control text-uppercase" name="fullname" type="text"
                                    placeholder="enter your name" required> <span class="far fa-user"></span> </div>
                        </div>
                    </div>
                    <div class="col-12 px-md-5 px-4 mt-3">
                        {% comment %} <div class="btn btn-primary w-100">Pay UG5X 99.00</div> {% endcomment %}
                        <button id="my-button" type="submit" class="btn btn-primary w-100" >Proceed to Give</button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>

    <div id="show-hidden-container">
 {% include "sections/showpayments.html" %}
    </div>
</div>


{% block extra_js %}
{# Override this in templates to add extra javascript #}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var container1 = document.getElementById('hide-visible-container');
        var container2 = document.getElementById('show-hidden-container');
        var form = document.getElementById('form-data');
        var buttonContinue = document.getElementById('my-button');
        var mtn = document.getElementById("openMtnModalButton");
        var airtel = document.getElementById("openAirtelModalButton");
        var donationAmount = document.getElementsByName('amount')[0].value;
        var donationCurrency = document.getElementById('currency').value;


        //const modalElement = document.getElementById('mtnModal'); // The first modal you want to hide
        //const modalPendingElement = document.getElementById('mtnModalPending'); // The pending modal element
        
        //const modal = new bootstrap.Modal(modalElement);
        //const modalPending = new bootstrap.Modal(modalPendingElement);

        var box1Container = document.querySelector('.box1');
       // buttonContinue.innerHTML = donationAmount + donationCurrency
        buttonContinue.addEventListener('click', function(event) {
            event.preventDefault();


           // number = document.getElementById("phone_id").value;
            amount = document.getElementById("amount_id").value;
            msgPayment = document.getElementById("message_id").value;
            currency = document.getElementById('currency').value
            name = document.getElementById('name_id').value
      
            console.log("MASS",msgPayment)
      
            console.log("number:::",amount);
           // console.log(number === null);
           console.log("PASSED-DATA::",formData);

        if(msgPayment === null || msgPayment.trim() === '' ){
            alert("Message can't be blank!")
            return false;
        }else  if(amount === null || amount.trim() === '' ){
            alert("Amount can't be blank!")
            return false;
        }else if (currency === '' || currency === 'Choose') {  // Assuming 'Choose' is the default value in the select box
            alert("Please select a valid currency.");
            return false;
        }else  if(name === null || name.trim() === '' ){
            alert("Name can't be blank!")
            return false;
        }
                  // Make sure container1 is visible before proceeding
        container1.style.display = 'block'; // Or apply your preferred style to make it visible





        // Get values from form inputs
        var donationMessage = document.getElementsByName('message')[0].value;
        var donationAmount = document.getElementsByName('amount')[0].value;
        var donationCurrency = document.getElementById('currency').value;
        var name = document.getElementsByName('fullname')[0].value;
    
            console.log("Form Data:", name);
            console.log("Form Data:", donationMessage);
            console.log("Form Data:", donationAmount);


          // Construct HTML content with collected data
            var htmlContent = `
            <div class="fw-bolder mb-4"><span class="fas fa-dollar-sign"></span><span class="ps-1">${donationAmount}.00</span></div>
            <div class="d-flex flex-column">
                <div class="d-flex align-items-center justify-content-between text"> 
                    <span class="">FullNames:</span>
                    <span class="ps-1">${name}</span> 
                </div>
                <div class="d-flex align-items-center justify-content-between text"> <span class="">Currency</span>
                    <span class="fas fa-dollar-sign"><span class="ps-1">${donationCurrency}</span></span> </div>
                <div class="d-flex align-items-center justify-content-between text mb-4"> <span>Tax</span> <span
                        class="fas fa-dollar-sign"><span class="ps-1">0</span></span> </div>
                <div class="border-bottom mb-4"></div>
                <div class="d-flex flex-column mb-4"> <span class="far fa-file-alt text"><span class="ps-2">Message
                            ID:</span></span> <span class="ps-3">${donationMessage}</span> </div>
                <div class="d-flex flex-column mb-5"> <span class="far fa-calendar-alt text">
                    <span class="ps-2">Date:</span></span> <span class="ps-3">${new Date().toDateString()}</span> </div>
                <div class="d-flex align-items-center justify-content-between text mt-5">
                    <div class="d-flex flex-column text"> <span>Customer Support:</span> <span>online chat 24/7</span>
                    </div>
                    <div class="btn btn-primary rounded-circle"><span class="fas fa-comment-alt"></span></div>
                </div>
            </div>
        `;

                // Construct an object with collected data
                 var formData = {
                        message: donationMessage,
                        donationAmount: donationAmount,
                        currency: donationCurrency,
                        name: name
                    };

                // Update the HTML content of box1Container
                box1Container.innerHTML = htmlContent;
                console.log("MTN:", mtn);
               // mtn["formData"] = formData;
                console.log("MTN2:", mtn);
            // Alert the user to confirm the action
            if (confirm("Do you want to Proceed?")) {
                // Hide and show containers
                container1.style.display = "none";
                container2.style.display = "block";
              
    
                // Store the form data object in localStorage
                localStorage.setItem('formData', JSON.stringify(formData));
    
                console.log("Form Data:", formData);

                
            }

            paymentButtonModel(mtn,formData,"my-button-mtn");
            paymentButtonModel(airtel,formData,"airtel-pay-button");
    
            //console.log("MDC", formData); // This line will throw an error, formData is not accessible here
        });

        function paymentButtonModel(payButton,formData,btn){
            

            if(payButton.id == "openMtnModalButton"){
                console.log("BTN",payButton);
                payButton.addEventListener('click', function(){
                    // Populate the form fields of the MTN modal with the form data
                 document.getElementById('phoneid').value = ''; // Clear the phone input field
                 document.getElementById('donorName').value = formData.name;
                 document.getElementById('donationAmount').value = formData.donationAmount;
                 document.getElementById('currency').value = formData.currency;
                 document.getElementById('fullname').value = formData.name;
                 document.getElementById('message').value = formData.message;
         
                 // Set the button text with the amount
                 document.getElementById(btn).textContent = "Pay "+ formData.currency + " " + formData.donationAmount;
                 
                // button.textContent = "Pay "+ formData.currency + " "+ donationAmount;
         
                     });

            }else if(payButton.id == "openAirtelModalButton"){
                console.log("BTN",payButton);
                payButton.addEventListener('click', function(){
                    // Populate the form fields of the MTN modal with the form data
                 document.getElementById('airtel-pay-phoneid').value = ''; // Clear the phone input field
                 document.getElementById('airtel-pay-donorName').value = formData.name;
                 document.getElementById('airtel-pay-donationAmount').value = formData.donationAmount;
                 document.getElementById('airtel-pay-currency').value = formData.currency;
                 document.getElementById('airtel-pay-fullname').value = formData.name;
                 document.getElementById('airtel-pay-message').value = formData.message;
         
                 // Set the button text with the amount
                 document.getElementById(btn).textContent = "Pay "+ formData.currency + " " + formData.donationAmount;
                 
                // button.textContent = "Pay "+ formData.currency + " "+ donationAmount;
         
                     });
            }
   
        }

    });




    
</script>
{% endblock %}
