{% load static %}
{% load compress %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}

<div class="container bg-light d-md-flex align-items-center justify-content-center p-3">
  

    <div id="hide-visible-container">
        <div class="card box2 shadow-sm m-3 ">
            <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> <span
                    class="h5 fw-bold m-0">Make a Donation</span>
                {% comment %} <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div> {% endcomment %}
            </div>
        
            <form id="form-data">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Donation<span
                                    class="ps-1">Amount</span></span>
                            <div class="inputWithIcon"> 
                                <input id="amount_id" type="number" name="amount" class="form-control" placeholder="Enter amount" required> 
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Message</span>
                                <div class="inputWithIcon"> 
                                    <textarea id="message_id" rows="3" maxlength="60" 
                                    name="message" class="form-control fw-light"
                                    placeholder="Provide a short message."></textarea>
                                    </div>
                            </div>
                        </div>
                    <div class="col-12 px-md-5 px-4 mt-3">
                        {% comment %} <div class="btn btn-primary w-100">Pay UG5X 99.00</div> {% endcomment %}
                        <button id="my-button" type="submit" class="btn btn-primary w-100" >Proceed to Give</button>
                    </div>
                </div>
            </form>
          
        </div>
    </div>

    <div id="show-hidden-container">
 {% include "sections/showpayments.html" %}
    </div>
</div>


{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% compress js %}
<script type="text/javascript" src="{% static 'js/make_payments.js' %}"></script>
{% endcompress %}
{% endblock %}
