<!-- Modal -->
{% load static %} 
{% load compress %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}
{% include "sections/push.html" %}

<div class="modal fade" id="pendingModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modelheader">

        <h5 class="modal-title fs-5 text-center" id="exampleModalLongTitle">Check Your phone !</h5>
        
      </div>
      <div class="modal-body">
      <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="75"  aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar bg-success" style="width: 75%">75%</div>
        </div> 
       <p>There is a notification sent to your phone. complete the donation now!</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="btn-close" data-bs-dismiss="modal" aria-label="Close">Completed</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="mtnModal" tabindex="-1" aria-labelledby="mtnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mtnModalLabel">MTN MOMO PAY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container bg-light d-md-flex align-items-center justify-content-center p-3">
             
                {% csrf_token %}
                <div class="card box2 shadow-sm m-0 ">
                    <div class="d-flex align-items-center justify-content-between p-md-5 p-4 mtn-background"> <span
                            class="h5 fw-bold m-0">MTN PAYMENT</span>
                        <div class="btn">
                            <img src="{% static 'images/New-mtn-logo.jpeg'%}"  alt="" height="40" width="40" srcset=""> 
                        </div>
                    </div>
                
                    <form action="" id="mtn-payment">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Donor Names</span>
                                    <div class="inputWithIcon"> 

                                        <input id="fullname"  class="form-control fw-light" type="text"
                                        value="Guest User" hidden>

                                        <input id="message"  class="form-control fw-light" type="text"
                                        value="karamoja seed" name='message' hidden>

                                        <input id="donorName" name="donorName" class="form-control fw-light" type="text"
                                            value="" disabled>
                                   <span id="phone-status-name" style="margin-left: 10px; padding-botom:5px;">
                                   </span>

                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Donation<span
                                            class="ps-1">Amount</span></span>
                                    <div class="inputWithIcon"> 
                                        <input id="donationAmount" type="text" class="form-control" placeholder="500" disabled> 
                                        <span class="fas fa-money-bill"></span> </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Currency</span>
                                    <div class="inputWithIcon"> 
                                     <input id="currency" type="text" style="width: 130px;" value="UGX" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                              <div class="d-flex flex-column px-md-5 px-4 mb-4 text-start"> <!-- Ensure text alignment is left -->
                                <span>Enter Phone:</span>
                                <div class="input-group">
                                  <span class="input-group-text p-0">🇺🇬 +256</span>
                                  <input class="form-control text-uppercase ps-3" id="phoneid" name="phone" type="text"
                                         inputmode="numeric" pattern="[0-9]*" placeholder="Enter Phone (77)" style="font-size:11px;">
                                
                                         <span id="phone-status" style="padding-top: 5px;"></span>       
                                         </div>
                               
                              </div>
                            </div>

                            <div class="col-12 px-md-5 px-4 mt-3">
                                <button id="my-button-mtn" class="btn btn-primary w-100" type="submit" disabled>Pay UGX 500.00</button>
                            </div>
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--  <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>





  <!--{% include "sections/pending.html" %}-->



  {% block extra_js %}

  <script>
    var modalProgressBar = document.getElementById('modalProgressBar');
    var btnCancel = document.getElementById('cancelbtn');
    var btnSuccess = document.getElementById('successbtn');
    var statusMessage = document.getElementById('statusMessage');

    document.getElementById('successbtn').addEventListener('click', function(){
      const successModal = bootstrap.Modal.getInstance(document.getElementById('exampleModalPush'));
      successModal.hide();
    });

    const closebtn=document.getElementById('btn-close').addEventListener('click',function(){
      const pendingModal=new bootstrap.Modal(document.getElementById('pendingModalLong'));
    pendingModal.hide();document.querySelector('.modal-backdrop')?.remove();
  })
  
    var progress = 0;

    document.addEventListener("DOMContentLoaded", function () {

      const form = document.getElementById('mtn-payment');
  
   
    // Disable the success button initially
    //btnSuccess.setAttribute('enable', true);
    
    // Update progress bar function
    function updateModalProgress() {
      if (progress < 100) {
        progress += 5;
        modalProgressBar.style.width = progress + '%';
        modalProgressBar.setAttribute('aria-valuenow', progress);
        modalProgressBar.innerHTML = progress + '%';
      }
  
      // When progress reaches 100%
      if (progress === 100) {
        statusMessage.innerHTML = "Transaction Successful!. Thank you for your donation!";
        btnSuccess.removeAttribute('disabled');
      }
    }
  
    // Show the modal and start the progress bar update
    function showModalAndStartProgress() {
      // Show the modal
      push.show();
  
      // Start the interval to update progress
      var intervalId = setInterval(updateModalProgress, 600); // Update every 600ms (0.6 seconds)
  
      // Optional: Stop polling after 60 seconds
      setTimeout(function() {
        clearInterval(intervalId);  // Stop polling after 60 seconds
        alert("Payment status check timed out after 60 seconds.");
        modalpush.hide(); // Optionally, hide the modal if the process timed out
      }, 60000); // Timeout after 60 seconds
    }
  
  
        var  mtnbutton = document.getElementById("my-button-mtn");
        const modalElement = document.getElementById('mtnModal');
        current_user = document.getElementById('donorName').value;
         var formData = JSON.parse(localStorage.getItem('formData')) || {};
  
       
         
         console.log("PASSED-DATA:--::",formData);
         
         const modalPendingElement = document.getElementById('pendingModalLong'); // The pending modal element
         const modalSuccessElement = document.getElementById('exampleModalPush'); // The success modal element
  
  
            // Initialize modals
     
      const modal =  new bootstrap.Modal(modalElement);
      const modalPending =  new bootstrap.Modal(modalPendingElement) ;
      const modalSuccess = new bootstrap.Modal(modalSuccessElement);
      const btnSuccess = document.getElementById('successbtn');
         
         //form = document.getElementById("payform");
       
       
         mtnbutton.addEventListener('click', function(event){
             event.preventDefault();
             number = document.getElementById("phoneid").value;
             
       
             msgPayment = document.getElementById("message").value;
             currency = document.getElementById('currency').value
       
             console.log("MASS---",msgPayment)
       
             console.log("number:::",number);
            // console.log(number === null);
            console.log("PASSED-DATA::",formData);
       
         if(number === null || number.trim() === '' ){
             alert("Phone number can't be blank!")
             return false;
         } // Check if the currency is selected (not the default value)
         else if (currency === '' || currency === 'Choose') {  // Assuming 'Choose' is the default value in the select box
             alert("Please select a valid currency.");
             return false;
         }else if (number !== '' && !number.match(/^\d{9,15}$/)){
             alert('Please enter a valid number.'); 
             return false; 
         }else{
                 // If the number is valid, allow the form to be submitted
                // form.submit();
  
               // if (number.startsWith('0')) {
              //    number = '256' + number.slice(1);
               // }

       let cleaned = number.replace(/\D/g, '');

       if (cleaned.startsWith('0')) {
              number = '256' + cleaned.slice(1);
          } else if (cleaned.startsWith('7') && cleaned.length === 9) {
              number = '256' + cleaned;
          } else if (cleaned.startsWith('256')) {
              number = cleaned;
          } else {
              alert("Invalid phone number format. Use 07..., 77..., or 256...");
              return false;
          }
  
                console.log("MASS",msgPayment)
  
                var phoneNumber = document.getElementById('phoneid').value.startsWith('0') 
                ? '256' + document.getElementById('phoneid').value.substring(1) 
                : document.getElementById('phoneid').value;
  
                const fullname = document.getElementById('fullname');
                
                var mtn_payment = {
                 amount: document.getElementById('donationAmount').value,
                 currency:currency,
                 fullname:document.getElementById('donorName').value,
                 message: document.getElementById('message').value,
                 phone: number,
                }
                
       
                data  ={
                 "amount": mtn_payment['amount'],
                 "currency": mtn_payment["currency"],
                 "txt_ref": "some_ref_value",
                 "phone_number": mtn_payment["phone"],
                 "payermessage":mtn_payment["message"],
                }
                console.log("Data:MTN--M",data);
               
               
                
              // Hide the main modal (if it's visible) and show the pending modal
            // modal.hide();  // Hide the main modal
            // modalPending.show();  // Show the pending modal
  
            //modalPendings.show();
  
             // apiCall(data)
             const mtnModalInstance = bootstrap.Modal.getInstance(document.getElementById('mtnModal'));
             mtnModalInstance.hide();
             
             setTimeout(() => {
               const pendingModal = new bootstrap.Modal(document.getElementById('pendingModalLong'));
               pendingModal.show();
             }, 500); // matches Boot
  
              //  document.getElementById('myDialog').showModal();
              
              apiCall(data)
         
         } 
       
       });
       let intervalId; 
  
       function apiCall(data){
        const url = "https://pay.yeshualifeug.com/pay";
      
        fetch(url,
        { 
        method: "POST",
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(
            {
                "amount": data['amount'] ,
                "currency": data['currency'],
                "txt_ref": data['txt_ref'],
                "phone_number": data['phone_number'],
                "payermessage": data['payermessage']
            })
        })
            .then( response => {
                //response => response.json()
      
                if(!response.ok){
                    return Promise.reject("API call failed with status: " + response.status);
                }
                return response.json();
            })  // Parse the response JSON
            .then(data => {
                console.log('API Response:', data);
             
                if (data.status === 'SUCCESSFUL') {
                   //alert('Payment processed successfully!');
                    //modalSuccess.hide();
                 
                } else if (data.status === 'FAILED') {
                    alert('Payment failed: ' + data.message);
                    console.log('Payment failed:', data.message);
                } else if (data.status === 'PENDING') {
                    //alert('Payment is pending, please wait...');
                    console.log("Payment is pending, please wait...")
                    console.log("Response: Data", data)
                
                    console.log("Ref",data.ref);
                    pollPaymentStatus(data.ref);
                }
              
            })
            .catch(error => {
                console.error('Error calling /pay API:', error);
                alert('There was an error processing your payment.');
            });
      
      }
  
  
       // Polling function for payment status (this can be adjusted or omitted)
       function pollPaymentStatus(ref) {
        const intervalId =  setInterval(function () {
            fetch(`https://pay.yeshualifeug.com/status/${ref}`)
            .then(response => response.json())
            .then(data => {
                console.log('STATUS-PAY:', data.status);
                
                if (data.status === 'SUCCESSFUL') {
                    modalPending.hide(); // Hide pending modal
                    const peningModalInstance = bootstrap.Modal.getInstance(document.getElementById('pendingModalLong'));
                    peningModalInstance.hide()
  
                    setTimeout(() => {
                      modalSuccess.show();
                    }, 500);
                    // Show success modal
                    console.log("Payment processed successfully!")
                     clearInterval(intervalId); 
                    // alert("Payment was successful!");
  
                } else if (data.status === 'FAILED') {
                   
                    modalPending.hide(); // Optionally hide the pending modal
                    clearInterval(intervalId); 
                    alert("Payment failed: " + data.message);
  
                } else if (data.status === 'PENDING') {
                    console.log("Payment is still pending...");
                    modalPending.show()
                }
            })
            .catch(error => {
                console.error('Error polling payment status:', error);
            });
        }, 5000); // Poll every 5 seconds
  
            // Stop the polling after 60 seconds
      setTimeout(function () {
        clearInterval(intervalId);  // Stop polling after 60 seconds
  
        const pendingModal = bootstrap.Modal.getInstance(document.getElementById('pendingModalLong'));
        if (pendingModal) pendingModal.hide();
    
        const showsuccess = bootstrap.Modal.getInstance(document.getElementById('exampleModalPush'));
        if (showsuccess) showsuccess.hide();
        
        
          // Give modals a moment to hide before showing alert
      setTimeout(() => {
        alert("Payment status check timed out after 60 seconds.");
    }, 300);
  
        modalPending.hide(); // Optionally, hide the pending modal
    }, 20000); // 
    }
  

const phoneInput=document.getElementById('phoneid');
const statusIcon=document.getElementById('phone-status');
const statusIconName=document.getElementById('phone-status-name');
const userinfo_name=document.getElementById('fullname');
const paydonation=document.getElementById('my-button-mtn');
phoneInput.addEventListener('input',async function(){
  checkNumberAndCallApi(phoneInput.value)})

function checkNumberAndCallApi(phone){console.log("PHONE",phone);const cleaned=phone.replace(/\D/g,'');console.log("PHONE-clean",cleaned);let trimmed=cleaned;if(cleaned.startsWith('0')){trimmed=cleaned.slice(1)}else if(cleaned.startsWith('256')){trimmed=cleaned.slice(3)}
if(trimmed.length===9){statusIcon.innerHTML='<span class="loader"></span>';console.log("--NUM.length",trimmed.length)
fetch(`https://pay.yeshualifeug.com/userinfo`,{method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify({phonenumber:'256'+trimmed})}).then(res=>res.json()).then(data=>{console.log("retturned..");console.log(data);if(data){statusIcon.textContent='✅';statusIconName.textContent='✅';const name=data['family_name']+" "+data['given_name'];document.getElementById('donorName').value=name;paydonation.disabled=false;console.log("names",name)}else{statusIcon.textContent='❌';}}).catch(err=>{statusIcon.textContent='⚠️';statusIconName.textContent='⚠️';console.error('API error:',err)});}else{statusIcon.textContent='';};

}
  
  
  
      });
  </script>

  {% endblock %}
  