<!-- Modal -->
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}

<div class="modal fade" id="airtelModal" tabindex="-1" aria-labelledby="airtelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="airtelModalLabel">AIRTEL PAY</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container bg-light d-md-flex align-items-center justify-content-center p-3">
                <div class="card box2 shadow-sm m-3 ">
                    <div class="d-flex align-items-center justify-content-between p-md-5 p-4 airtel-background"> <span
                            class="h5 fw-bold m-0 text-white">AIRTEL PAYMENT</span>
                        <div class="btn">
                            <img src="{% static 'images/airtel_money.jpeg'%}"  alt="" height="60" width="60" srcset="">
                        </div>
                    </div>
                
                    <form action="" id="payform" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Gift Amount</span>
                                    <div class="inputWithIcon"> 
                                        <input  class="form-control fw-light" type="text"
                                            value="500" disabled>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column ps-md-5 px-md-0 px-4 mb-4"> <span>Donation<span
                                            class="ps-1">Amount</span></span>
                                    <div class="inputWithIcon"> <input type="text" class="form-control" placeholder="500" disabled> <span
                                            class="fas fa-money-bill"></span> </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-column pe-md-5 px-md-0 px-4 mb-4"> <span>Currency</span>
                                    <div class="inputWithIcon"> 
                                     <input type="text" value="UGX" disabled>
                                        <span
                                            class="fas fa-lock">
                                        </span></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex flex-column px-md-5 px-4 mb-4"> <span>Enter Number:</span>
                                    <div class="inputWithIcon">
                                        <input class="form-control text-uppercase" type="number"
                                            placeholder="anumber (0754-345-343)" name="phone"> <span class="far fa-phone"></span> </div>
                                </div>
                            </div>
                            <div class="col-12 px-md-5 px-4 mt-3">
                                <button id="my-button" class="btn btn-primary w-100" type="submit">Pay UG5X 500.00</button>
                            </div>
                        </div>
                    </form>
                  
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  {% block extra_js %}
  <script>

        document.addEventListener('DOMContentLoaded', function() {
            var payform = document.getElementById("payform")

            payform.addEventListener('submit', function(event){
            event.preventDefeults();
        
            var number = document.getElementById('phone').value;
            if(number == null){
                alert("Phone number can't be blank!")
                return false;
            }else if (!isNaN(number) && number !== ''){
                alert("Please provide a Valid Phone number!") 
                return false; 
            }else{
                    // If the number is valid, allow the form to be submitted
                    payform.submit();
                
            }
        
           }); 
    
        });
    
    
  </script>
  {% endblock  %}