      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modelheader">

              <h5 class="modal-title fs-5 text-center" id="exampleModalLongTitle">Request is Being Verified!</h5>
              
            </div>
            <div class="modal-body">
              <div class="progress" role="progressbar" aria-label="Success example"   aria-valuemin="0" aria-valuemax="100">
                <div id="modalProgressBar" class="progress-bar bg-success" style="width: 0%">0%</div>
              </div>
            <!-- <p id="statusMessage" >We are verifying your transaction. Please wait while we confirm your payment. A notification has been sent to your phone!</p> -->
            <p id="statusMessage" >Transaction Successful!. Thank you for your donation!</p>
            </div>

            <div class="modal-footer">
              <!-- <button id="cancelbtn" type="button" class="btn btn-danger" data-dismiss="modal">Cancel this Payment</button> -->
              <button id="successbtn" type="button" class="btn btn-outline-success" >I have Completed the payment</button>
            </div>
          </div>
        </div>
      </div>


      <script>

     document.getElementById('successbtn').addEventListener('click', function(){
      const showsuccess = bootstrap.Modal.getInstance(document.getElementById('exampleModalPush'));
      showsuccess.hide();
      //document.querySelector('.modal-backdrop')?.remove();
 
     });
    </script>
    