{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block extra_css %}
<link href="{% static 'css/payment.css'%}" rel="stylesheet">
{% endblock  %}

<div  class="container bg-light d-md-flex align-items-center">
    <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
        <div class="fw-bolder mb-4"><span class="fas fa-dollar-sign"></span><span class="ps-1">599,00</span></div>
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center justify-content-between text"> 
                <span class="">Currency</span>
                <span class="fas fa-dollar-sign"><span class="ps-1">UGX</span></span> 
            </div>

            <div class="d-flex align-items-center justify-content-between text mb-4"> <span>Tax</span> <span
                    class="fas fa-dollar-sign"><span class="ps-1">0</span></span> </div>
            <div class="border-bottom mb-4"></div>
            <div class="d-flex flex-column mb-4"> <span class="far fa-file-alt text"><span class="ps-2">Message
                        ID:</span></span> <span class="ps-3">Hello thanks am Donating</span> </div>
            <div class="d-flex flex-column mb-5"> <span class="far fa-calendar-alt text">
                <span class="ps-2">Date:</span></span> <span class="ps-3">22 july,2018</span> </div>
            <div class="d-flex align-items-center justify-content-between text mt-5">
                <div class="d-flex flex-column text"> <span>Customer Support:</span> <span>online chat 24/7</span>
                </div>
                <div class="btn btn-primary rounded-circle"><span class="fas fa-comment-alt"></span></div>
            </div>
        </div>
    </div>
    <div class="card box2 shadow-sm">
        <div class="d-flex align-items-center justify-content-between p-md-5 p-4"> <span
                class="h5 fw-bold m-0">Payment methods</span>
            <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div>
        </div>
        <ul class="nav nav-tabs mb-3 px-md-4 px-2">
            <li class="nav-item"> <a class="nav-link px-2 active" aria-current="page" href="#">Mobile Payment</a> </li>
            <li class="nav-item"> <a class="nav-link px-2" href="#">Credit Card</a> </li>
            <li class="nav-item ms-auto"> <a class="nav-link px-2" href="#">+ More</a> </li>
        </ul>
        <div class="px-md-5 px-4 mb-4 d-flex align-items-center justify-content-center h-50 p-3">

            <div class="btn-group" role="group" aria-label="Basic radio toggle button group"> 
                {% comment %} data-bs-toggle="modal" data-bs-target="#mtnModal" {% endcomment %}
            <button type="button" id="openMtnModalButton" class="btn icon-btn btn-outline-primary" name="btn-mtn" >
               <img src="{% static 'images/New-mtn-logo.jpeg' %}" height="50" width="42" alt="" srcset="">
                <span class="pe-1">MTN</span>
            </button>
            <!-- id="openAirtelModalButton" -->
                <button type="button"  class="btn icon-btn btn-outline-primary" name="btn-airtel" id="btn-airtel-backup" data-bs-toggle="modal" data-bs-target="#airtelModal" >
                    <img src="{% static 'images/airtel_money.jpeg' %}" height="50" width="42" alt="" srcset=""> 
                        <span class="lpe-1">AIRTEL</span>
                </button> 
                
                </div>
        </div>
   
    </div>
</div>

{% include "sections/model-payment.html" %}
{% include "sections/model-payment-airtel.html" %}n