{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags compress structured_data_tags %}

{% block body_class %}template-blogindexpage{% endblock  %}

{% compress css %}
{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/loaders.min.css" %}">
<link rel="stylesheet" href="{% static "css/theme.min.css" %}">
{% endblock  %}
{% endcompress %}

{% block  content %}

{% include "nav_bar.html" %}
{% comment %} <section class="yesh-header"> {% endcomment %}
{% comment %} {% include "blog/header.html" %}    {% endcomment %}
{% include "blog/new_section/header.html" %}   
{% comment %} </section> {% endcomment %}

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div>

<div class="d-flex flex-column justify-content-center align-items-center wrap-blog">
    Latest Updates
</div>
{% for page in combined_pages %}
{% comment %} {{ forloop.counter }} {% endcomment %}
    {% if forloop.length == 2 %}
        {% if forloop.first %}
            {% include "latest_updates/section_one_update.html" with page=page %}
        {% endif %}
           
        {% include "latest_updates/section_two_update.html" with pages=combined_pages|slice:"1:3" %}
        
    {% else %}
        {% if forloop.first %}
            {% include "latest_updates/section_one_update.html" with page=page %}
        {% elif forloop.counter == 2  %}
            {% include "latest_updates/section_two_update.html" with pages=combined_pages|slice:"1:3"%}
        {% elif forloop.counter == 3  %}
            {% include "latest_updates/section_three_update.html"  with pages=combined_pages|slice:"3:" %}
        {% endif %}
    {% endif %}
   
{% endfor %} 


<div class="d-flex flex-column justify-content-center align-items-center wrap-blog">
    {% for post in  page.get_children %}
    {% if forloop.first %}
    {% include "blog/sections/slider_content.html" with  post=post %} 
    
    <div class="container marketing">
        <hr class="featurette-divider">
        {% include "blog/sections/feature_section_one.html"  with post=post %}

  {% comment %} {% include "blog/main_content/carosel.html"  with post=post %} {% endcomment %}
    </div>
    {% endif %}
  {% endfor %}

   
         <div class="container marketing">
            <hr class="featurette-divider">
            <div class="d-flex flex-column featurette justify-content-center align-items-center">
    
            <div class="col">
                <img class="featurette-image img-fluid mx-auto"  alt="2048x338" style="width: 2048px;" src="https://yeshualifeug.com/media/images/KARAMOJAWEBSITEBUNNER.original.png" data-holder-rendered="true">
              </div>

              <div class="col text-center m-3 p-5">
                {% comment %} <h2 class="featurette-heading">Your Donation can save a <span class="text-muted">life.</span></h2> {% endcomment %}
                <p class="lead">Karamoja's anguished cries echo through hunger-stricken lands. Climate change, persistent droughts, and crop failures have spawned famine in this precious region. Families find themselves reduced to consuming leaves for survival. Yeshualife stands as a beacon of hope, committed to combating hunger in Karamoja. Through strategic initiatives, we aim to provide essential relief, ensuring no one is left to endure the harrowing experience of foraging for sustenance in desolation. You can join us in this vital mission by contributing your little donation, making a significant impact on the lives of those in need and fostering a resilient community in the heart of Karamoja.</p>
              </div>

            </div>
         </div>

         
 

    {% comment %} <pre>{{ post|pprint }}</pre> {% endcomment %}
    {% for post in  page.get_children %}
    {% if forloop.counter == 2 %}
    {% comment %} <p>This is the second page: {{ post.title }}</p> {% endcomment %}
    <div class="container marketing">
        <hr class="featurette-divider">
    {% include "blog/sections/feature_section_two.html"  with post=post %}
    </div>
     {% endif %}

    {% endfor %}
        
</div>
{% include "blog/sections/section_ds.html" %} 

 <section class="content-section bg-primary2 text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4" style="font-weight:600">Your financial support empowers us to implement vital programs and initiatives.</h2>
        <h6 style="font-size:8px; font-weight:200;">Have questions, ideas, or just want to say hello? We'd love to hear from you!</h6>
        <a class="btn btn-xl btn-light me-4 btn-danger" href="/payments">Donate</a>
        <a class="btn btn-xl btn-dark" href="#!">Support</a>
    </div>
</section>



{% endblock  %}
{% compress js %}
{% block extra_js %}
<script type="application/ld+json">
  {% json_ld_markup %}
</script>
{% endblock  %}
{% endcompress %}
{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}