{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
{% endblock  %}


{% block  content %}

{% include "nav_bar.html" %}
<section class="yesh-header">
{% include "blog/header.html" %}
</section>

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div>


<div class="d-flex flex-column justify-content-center align-items-center wrap-blog">
    {% for post in  page.get_children %}
    {% if forloop.first %}
    {% include "blog/sections/slider_content.html" with  post=post %} 
    
    <div class="container marketing">
        <hr class="featurette-divider">
        {% include "blog/sections/feature_section_one.html"  with post=post %}

      {% comment %} {% include "blog/main_content/carosel.html"  with post=post %} {% endcomment %}
    </div>
    {% endif %}
  {% endfor %}

    <div class="d-flex flex-column featurette justify-content-center align-items-center">
        
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>


            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d16ddd271%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d16ddd271%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.12109375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              </div>

      </div>

    {% comment %} <pre>{{ post|pprint }}</pre> {% endcomment %}
    {% for post in  page.get_children %}
    {% if forloop.counter == 2 %}
    {% comment %} <p>This is the second page: {{ post.title }}</p> {% endcomment %}
    <div class="container marketing">
        <hr class="featurette-divider">
    {% include "blog/sections/feature_section_two.html"  with post=post %}
    </div>
     {% endif %}

    {% endfor %}
        
</div>

<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Your financial support empowers us to implement vital programs and initiatives.</h2>
        <h6 style="font-size:8px; font-weight:200;">Have questions, ideas, or just want to say hello? We'd love to hear from you!</h6>
        <a class="btn btn-xl btn-light me-4 btn-danger" href="/donation">Donate</a>
        <a class="btn btn-xl btn-dark" href="#!">Support</a>
    </div>
</section>



{% endblock  %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}