{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
{% endblock  %}


{% block  content %}

{% include "nav_bar.html" %}
<section class="yesh-header">
{% include "blog/header.html" %}
</section>

<div class="top-content-wrap">
    {% include "blog/sections/top-section-updates.html" %}
</div>


<div class="d-flex flex-column justify-content-center align-items-center wrap-blog">
    {% for post in  page.get_children %}
    {% if forloop.first %}
    {% include "blog/sections/slider_content.html" with  post=post %} 
    
    <div class="container marketing">
        <hr class="featurette-divider">
        {% include "blog/sections/feature_section_one.html"  with post=post %}

      {% comment %} {% include "blog/main_content/carosel.html"  with post=post %} {% endcomment %}
    </div>
    {% endif %}
  {% endfor %}

    <div class="d-flex flex-column featurette justify-content-center align-items-center">
        
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>


            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/2048x338/auto" alt="2048x338" style="width: 2048px; height: 338px;" src="https://res.cloudinary.com/dz3huxbpc/image/upload/v1705486610/yeshualife/KARAMOJA_WEBSITE_BUNNER_xbo5y3.jpg" data-holder-rendered="true">
              </div>

      </div>

    {% comment %} <pre>{{ post|pprint }}</pre> {% endcomment %}
    {% for post in  page.get_children %}
    {% if forloop.counter == 2 %}
    {% comment %} <p>This is the second page: {{ post.title }}</p> {% endcomment %}
    <div class="container marketing">
        <hr class="featurette-divider">
    {% include "blog/sections/feature_section_two.html"  with post=post %}
    </div>
     {% endif %}

    {% endfor %}
        
</div>

<section class="content-section bg-primary text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Your financial support empowers us to implement vital programs and initiatives.</h2>
        <h6 style="font-size:8px; font-weight:200;">Have questions, ideas, or just want to say hello? We'd love to hear from you!</h6>
        <a class="btn btn-xl btn-light me-4 btn-danger" href="/donation">Donate</a>
        <a class="btn btn-xl btn-dark" href="#!">Support</a>
    </div>
</section>



{% endblock  %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}