{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/production.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}

<section class="yesh-header">
    {% for post in page.get_children %}
    {% if forloop.counter == 1 %}
       
        {% include "section/head_production.html" %}

  {% endif %}
{% endfor %}
</section> 

<section class="text-center" id="defaultMembers">
    <div class="container">

        <div class="row flex-center">
            <div class="col-lg-7 col-xl-6">
              <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">meet the crews</h2>
              <p class="text-body-tertiary fst-italic">A passionate group of experienced designers, developers and programmers motivated to continually reach goals and tackle new challenges</p>
            </div>
            <div class="w-100"></div>
{% for post in page.get_children %}
{% include "section/featured_production.html" %}
{% endfor %}
<div class="w-100"></div>

        </div>

      </div><!-- end of .container-->
</section>
{% comment %} {% include "section/head_production.html" %} {% endcomment %}




{% endblock %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}



