{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags%}
{% block body_class %}template-blogindexpage{% endblock  %}

{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/production.css" %}">
 {% endblock  %}

{% block content %}
{% include "nav_bar.html" %}

<section class="yesh-header">
{% include "section/head_production.html" %}
</section>






{% endblock %}

{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}



