{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags compress %}
{% block body_class %}template-blogindexpage{% endblock  %}
{% comment %} {% compress css %} {% endcomment %}
{% block extra_css  %}
<link rel="stylesheet" href="{% static "css/top-section.css" %}">
<link rel="stylesheet" href="{% static "css/production.css" %}">
 {% endblock  %}

 {% comment %} {% endcompress %} {% endcomment %}
{% block content %}
{% include "nav_bar.html" %}

<section class="yesh-header">
    {% for post in page.get_children %}
    {% if forloop.counter == 1 %}
       
        {% include "section/head_production.html" %}

  {% endif %}
{% endfor %}
</section> 

<section class="text-center" id="defaultMembers">
    <div class="container">

        <div class="row flex-center">
            <div class="col-lg-7 col-xl-6">
              <h2 class="fs-6 fs-sm-5 text-decoration-underline mb-3">Our Harvesting Innovations</h2>
              <p class="text-body-tertiary fst-italic">
                Harvesting Innovations features a skilled team dedicated to revolutionizing agricultural practices. With deep passion and expertise, they develop cutting-edge solutions that enhance production efficiency and sustainability, setting new standards in agriculture.
            </p>
            </div>
            <div class="w-100"></div>
{% for post in page.get_children %}
{% include "section/featured_production.html" %}
{% endfor %}
<div class="w-100"></div>
{% for post in page.get_children %}
  {% if forloop.counter >= 3 %}
  {% include "section/list_featured.html" %}
  {% endif %}
{% endfor %}

        </div>

      </div><!-- end of .container-->
</section>
{% comment %} {% include "section/head_production.html" %} {% endcomment %}




{% endblock %}
<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% comment %} {% compress js %}
{% block extra_js %}
<script src="{% static 'css/bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock  %}
{% endcompress %} {% endcomment %}
{% block footer %}
{% include "blog/footer.html" %}
{% endblock  %}



