{% load static  %}
<section class="py-0">
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-lg-6 px-0 order-lg-2">
          <div class="vh-lg-100 py-9">
            <div class="bg-holder" style="background-image: url(&quot;{% static '/images/karamoja_re.jpg' %}&quot;);"></div><!--/.bg-holder-->
          </div>
        </div>
        <div class="col-lg-6 py-6">
          <div class="row h-100 flex-center">
            <div class="col-lg-10" data-zanim-timeline="{&quot;delay&quot;:0.4}">
              <h1 class="fw-light text-uppercase fs-7 fs-sm-5 fs-lg-7 fs-xl-5"><span class="d-block overflow-hidden"><span class="d-block mb-1" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Karamoja's</span></span><span class="d-block overflow-hidden"><span class="d-inline-block" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;"><span class="display-4 fs-6 fs-sm-4 fs-lg-6 fs-xl-4 fw-black">Battle</span></span></span><span class="d-block overflow-hidden"><span class="d-block mt-2" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;"> Against Starvation -</span></span></h1>
              <div class="overflow-hidden">
                <h6 class="fw-normal ls fs-9 text-uppercase mt-4 text-body" data-zanim-xs="{&quot;delay&quot;:0.4}" style="transform: translate(0px, 0px); opacity: 1;">Every Meal of Elijah's brings Hope in the Face of Extreme Hunger.</h6>
              </div>
              <div data-zanim-xs="{&quot;delay&quot;:0.5}" style="transform: translate(0px, 0px); opacity: 1;"><a class="btn btn-danger btn-sm mt-5 mt-sm-7" href="/donation">Click to Donate</a></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>