{% compress css %}
{% block extra_css %}
<link href="{% static 'css/solution.css'%}" rel="stylesheet"> 
{% endblock  %}
{% endcompress %}
<section class="py-0" id="promotionHeader">
    <div class="bg-holder overlay overlay-z-index-1" style="background-image: url(&quot;../assets/img/headers/header-promotion.jpg&quot;); filter: blur(0px); opacity: 1; transform: translate(0px, 0px);" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;animation&quot;:&quot;zoom-out&quot;}">
      <iframe class="yt-video loaded" data-youtube-embed="{&quot;videoId&quot;:&quot;abiaOTuBemk&quot;,&quot;startSeconds&quot;:10,&quot;endSeconds&quot;:50,&quot;loop&quot;:true}" style="width: 1568px; height: 882px; min-height: 728px; min-width: 1294.22px;" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Software Promo Video | Essensys | Holler Video Production" width="640" height="360" src="https://www.youtube.com/embed/abiaOTuBemk?autoplay=1&amp;disablekb=1&amp;controls=0&amp;modestbranding=1&amp;loop=1&amp;fs=0&amp;enablejsapi=1&amp;start=10&amp;end=50&amp;origin=https%3A%2F%2Fprium.github.io&amp;widgetid=1" id="widget2"></iframe>
    </div><!--/.bg-holder-->
    <div class="container">
      <div class="row min-vh-50 align-items-center py-9">
        <div class="col-lg-6" data-zanim-timeline="{&quot;delay&quot;:0.4}">
          <div class="overflow-hidden">
            <h1 class="fs-5 fs-md-4 text-white display-4" data-zanim-xs="{&quot;delay&quot;:0.1}" style="transform: translate(0px, 0px); opacity: 1;">Get it done<br>with sparrow</h1>
          </div>
          <div class="overflow-hidden">
            <h4 class="fw-normal mb-4 text-white text-opacity-85 mt-5" data-zanim-xs="{&quot;delay&quot;:0.2}" style="transform: translate(0px, 0px); opacity: 1;">Grow your business with full responsive website.</h4>
          </div>
          <div class="overflow-hidden">
            <div class="input-group pe-lg-7" data-zanim-xs="{&quot;delay&quot;:0.3}" style="transform: translate(0px, 0px); opacity: 1;"><input class="form-control bg-transparent text-white border-light-subtle" type="text" placeholder="What type of website do you need?" aria-label="Recipient's username" aria-describedby="button-addon-interior"><button class="btn btn-light px-3 fw-normal bg-body-secondary" id="button-addon-interior" type="button">get started</button></div>
          </div>
        </div>
      </div>
    </div><!-- end of .container-->
  </section>