
@media (min-width: 0px) and (max-width: 767px) {
    .d2c_product_grid_wrapper {
        padding: 50px 0px;
    }
    .d2c_product_grid_wrapper .d2c_title {
        font-size: 36px;
    }
    .slick-track {
        padding-top: 30px;
    }
    .slick-slide {
        padding: 0px 20px;
    }
    .slick-prev {
        font-size: 14px;
        padding: 12px 18px;
        left: -3px;
    }
    .slick-next {
        font-size: 14px;
        padding: 12px 18px;
        right: -3px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper .d2c_img_wrapper {
        height: 222px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body {
        padding: 40px 25px 10px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_card_body {
        padding: 46px 0px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .d2c_product_grid_wrapper {
        padding: 50px 0px;
    }
    .d2c_product_grid_wrapper .d2c_title {
        font-size: 36px;
    }
    .slick-track {
        padding-top: 30px;
    }
    .slick-prev {
        font-size: 15px;
        padding: 13px 19px;
        left: -19px;
    }
    .slick-next {
        font-size: 15px;
        padding: 13px 19px;
        right: -20px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body {
        padding: 40px 25px 10px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_card_body {
        padding: 46px 0px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        margin-left: 18px !important;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body {
        padding: 40px 25px 10px;
    }
    .d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_card_body {
        padding: 46px 0px;
    }
    .d2c_product_grid_wrapper {
        padding: 50px 0px;
    }
    .d2c_product_grid_wrapper .d2c_title {
        font-size: 36px;
    }
    .slick-track {
        padding-top: 30px;
    }
    .slick-prev {
        font-size: 15px;
        padding: 13px 19px;
        left: -19px;
    }
    .slick-next {
        font-size: 15px;
        padding: 13px 19px;
        right: -20px;
    }
}



/* 
    KIT Name: 5+ Product Grid - Bootstrap Bundle
    Product URL: https://www.designtocodes.com/product/5-product-grid-html-web-ui-kits-html-components
    Product Description: The Product Grid kit is made of all the basic elements you need to create a stunning website, from the start.
    Author: designtocodes.com
    Author URL: https://www.designtocodes.com/
*/