
:root {
    /* color */
    --primary_color: #000000;
    --secondary_color: #598E86;
    --color_one: #E77E00;
    --color_two: #999999;
    --color_three: #FFFFFF;
    /* Font */
    --primary_font-family: 'Nunito', sans-serif;
    --secondary_font-family: 'Poppins', sans-serif;
}

/* Style */
.d2c_product_grid_wrapper {
    /* padding: 100px 0px; */
    padding: 4px 0px;
}
.d2c_product_grid_wrapper .d2c_title {
    font-family: var(--primary_font-family);
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary_color);
}
.d2c_product_grid_wrapper .d2c_card_wrapper {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    transition: all ease 2s;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_img_wrapper {
    width: 100%;
    height: 245px;
    border-radius: 8px 8px 0px 0px;
}

.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_vid_wrapper {
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_img_wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body {
    padding: 25px;
    height: 100%;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body .d2c_name {
    font-family: var(--primary_font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: var(--secondary_color);
    transition: all ease 2s;
    margin-bottom: 0px;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body .d2c_price {
    font-family: var(--secondary_font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    /* text-decoration-line: line-through; */
    color: var(--color_two);
    transition: all ease 2s;
    margin-bottom: 0px;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body .d2c_price span {
    font-family: var(--secondary_font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: var(--primary_color);
    text-decoration-line: none;
    padding-left: 6px;
    margin-bottom: 0px;
    display: inline-block;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body .d2c_btn {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    background: var(--color_one);
    border-radius: 5px;
    padding: 8px 20px 9px;
    display: none;
    transition: all ease 2s;
}
.d2c_product_grid_wrapper .d2c_card_wrapper .d2c_card_body .d2c_btn i {
    font-size: 20px;
    margin-left: 10px;
}
.d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_card_body {
    padding: 32px;
    display: flex;
    justify-content: center;
}
.d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_card_body .d2c_btn {
    display: block;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
}
.d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_name {
    display: none;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
}
.d2c_product_grid_wrapper .d2c_card_wrapper:hover .d2c_price {
    display: none;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
}
/* Slider CSS */
.slick-prev {
    font-size: 16px;
    color: var(--primary_color);
    background: var(--color_three);
    border: none;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    z-index: 1;
}
.slick-next {
    font-size: 16px;
    color: var(--primary_color);
    background: var(--color_three);
    border: none;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 15px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;
    z-index: 1;
}
.slick-slide {
    padding: 0px 10px;
}
.slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
}



/* 
    KIT Name: 5+ Product Grid - Bootstrap Bundle
    Product URL: https://www.designtocodes.com/product/5-product-grid-html-web-ui-kits-html-components
    Product Description: The Product Grid kit is made of all the basic elements you need to create a stunning website, from the start.
    Author: designtocodes.com
    Author URL: https://www.designtocodes.com/
*/